%h1
  = @artist.name
.image-responsive
  = image_tag(@artist.avatar.url(:medium))

%p
  = @artist.description

%p
  = @artist.link
- if user_signed_in? && current_user.admin_role?
  = link_to 'Edit', edit_artist_path(@artist)

= link_to 'Back', artists_path

