= simple_form_for(@label) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :description
    = f.label :avatar
    = f.file_field :avatar
  .form-actions
    = f.button :submit

