%p#notice= notice
%h1 Labels
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th{:colspan => "3"}
  %tbody
    - @labels.each do |label|
      %tr
        %td= label.name
        %td= label.description
        %td= link_to 'Show', label
        - if user_signed_in? && current_user.admin_role?
          %td= link_to 'Edit', edit_label_path(label)
          %td= link_to 'Destroy', label, method: :delete, data: { confirm: 'Are you sure?' }
%br
- if user_signed_in? && current_user.admin_role?
  = link_to 'New Label', new_label_path

