%p#notice= notice
%p
  %strong Name:
  = @label.name
%p
  %strong Description:
  = @label.description

- if user_signed_in? && current_user.admin_role?
  = link_to 'Edit', edit_label_path(@label)

= link_to 'Back', labels_path
