%p#notice= notice
%h1 Crates
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @crates.each do |crate|
      %tr
        %td= crate.name
        %td= link_to 'Show', crate
        %td= link_to 'Edit', edit_crate_path(crate)
        %td= link_to 'Destroy', crate, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Crate', new_crate_path
