%h1
  = @album.title
.img-responsive
  = image_tag(@album.cover.url(:medium))

%h2
  = @album.artist.name

%p
  %strong
    = @album.year

%h2
  Songs
= render :partial => 'songs/song'

- if user_signed_in? && @album.user_id == current_user.id
  %h2
    Add a song
  = render :partial => 'songs/form'


%p
  = @album.description


%p
  - @album.properties.each do |name, value|
    %p
      = name.humanize
      %strong
        = value

- if user_signed_in? && @album.user_id == current_user.id
  = link_to 'Edit', edit_album_path(@album)

= link_to 'Back', :back

