%h1
  = @album.title

%h2
  = @album.artist.name

%p
  %strong
    = @album.year

%h2
  Songs
= render @album.songs


%h2
  Add a song
= render :partial => 'songs/form'


%p
  = @album.description

= link_to 'Edit', edit_album_path(@album)

= link_to 'Back', albums_path

